<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">    
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<title>Pendulum Plot</title>
</head>
<body>
    <h1>Pendulum Ploting Program</h1>    
    <h2>Enter the properties of the pendulum!</h2>
    <table>
    <form action="{{url_for("plotshow")}}" method="post">
		<div class="form-group">
        <tr>
            <td><label for="Length">Length(m)</label></td>
            <td><input type="text" id="Length" name="length" placeholder="Enter a length"></td>
        </tr>
        <tr>    
            <td><label for="InitalAngle">Intial Angle (deg)</label></td>
            <td><input type="text" id="InitialAngle" name="angle" placeholder="Enter the initial angle"></td>
        </tr>
        <tr>    
            <td><label for="Endtime">End time (s)</label></td>
            <td><input type="text" id="Endtime" name="endtime" placeholder="Enter the end time."></td>
        </tr>
        <tr>    
            <td><label for="Timestep">Time Step (s)</label></td>
            <td><input type="text" id="TimeStep" name="timestep" placeholder="Enter a time step."></td>
        </tr>
         <tr>
            <td><label for="Filename">File name for the plot</label></td>
             <td><input type="text" id="Filename" name="filename" placeholder="Enter a filename for the plot."></td>
        </tr>
		</div>
        <tr>
		<td><button class=green type="submit">Submit</button><td>
        </tr>    
	</form>
    </table>
</body>
</html>