<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <td><img src="data:image/png;base64,{{ image_url }}" width=500px height=250px alt="Angular Motion"></td>
        <td><img src="data:image/png;base64,{{ plot_url }}" width=500px height=250px alt="Pendulum Plot"></td>
    </tr>
    <tr colspan="2">
        <td>
            <table>
                <tr>
                    <td><form action="{{url_for('index')}}" method="POST">
                        <button type="submit" class='green'>Reset Plot</button>
                        </form>
                    </td>
                    <td>Please right-click on the plot you wish to save and select "Save Image As.." to save the plots for your reports.</td>
                </tr>
            </table>
        </td>
    </tr>    
</table>    
        
{% endblock %}


